
  body{
    background-color: #feceab;
  }
  hr{

    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 10px;
    width: 5%;
  }
  h1{

    color: #66BFBF

   }
  h3{
    text-shadow: 2px 2px 5px #66BFBF;
    text-decoration: underline;
    text-overflow: ellipsis;
    color: #66BFBF

  }
